# TestBook

# Introduction
Welcome to the TestBook

# Data Science Languages
Python
Apache Spark
Apache Scala
R
SQL

# Data Science Libraries
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

# Data Science Tools

Here is a table listing some of the most popular tools used in data science, along with their primary purposes:

| Tool           | Purpose                                |
|----------------|----------------------------------------|
| Jupyter Notebook | Interactive coding and data visualization |
| RStudio        | Statistical analysis and visualization |
| Apache Hadoop  | Big data processing and storage        |
| Apache Spark   | Large-scale data processing            |
| TensorFlow     | Machine learning and deep learning     |
| PyTorch        | Machine learning and deep learning     |
| Tableau        | Data visualization                     |
| Power BI       | Business analytics and visualization   |
| SQL            | Database management and querying       |
| Git            | Version control                        |

# Arithmetic Expressions Examples

Arithmetic expressions are fundamental in programming and data science, used to perform basic mathematical operations. Below are some examples of common arithmetic expressions:

1. **Addition (+)**: Combines two or more numbers to get their sum.
   - Example: `5 + 3 = 8`
   
2. **Subtraction (-)**: Finds the difference between two numbers.
   - Example: `10 - 4 = 6`
   
3. **Multiplication (*)**: Calculates the product of two or more numbers.
   - Example: `6 * 7 = 42`
   
4. **Division (/)**: Divides one number by another to get the quotient.
   - Example: `20 / 5 = 4`
   
5. **Exponentiation (^)**: Raises one number to the power of another.
   - Example: `2 ^ 3 = 8`
   
6. **Modulo (%)**: Finds the remainder of the division of one number by another.
   - Example: `10 % 3 = 1`

In [13]:
# Multiplying and Adding Numbers
a = 6
b = 7
c = 3

# Multiplication
multiplication_result = a * b

# Addition
addition_result = a + c

# Output
print ('Multiplication result = ', multiplication_result)
print ('Addition result = ', addition_result)

Multiplication result =  42
Addition result =  9

In [15]:
# Taking minutes as input from the user and converting to hours

# Input
minutes = int(input("Enter the number of minutes: "))

# Conversion to hours
hours = minutes / 60

# Output the result
print('no. of hours = ', hours)

Enter the number of minutes:  150

no. of hours =  2.5

# Objectives

The main objectives of this document are:

1. **Understand the Basics**: Learn fundamental concepts and definitions.
2. **Explore Tools and Languages**: Gain knowledge about various data science tools and programming languages.
3. **Perform Arithmetic Operations**: Get hands-on experience with basic arithmetic expressions.
4. **User Input Handling**: Learn how to take user input and perform conversions.
5. **Practical Applications**: Apply the concepts learned through practical coding examples.

## Author

**Abhishek**

shivhareavi1997@gmail.com